/*:root {*/
/*  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
/*  line-height: 1.5;*/
/*  font-weight: 400;*/

/*  !*color-scheme: light dark;*!*/
/*  color: rgba(255, 255, 255, 0.87);*/
/*  background-color: #242424;*/

/*  font-synthesis: none;*/
/*  text-rendering: optimizeLegibility;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/
/*button{*/
/*    font-family: Arial, serif;*/
/*    text-align: left;*/
/*    font-weight: 500;*/
/*    cursor: pointer;*/
/*    color: #111;*/
/*    border: none;*/
/*    background: none;*/
/*    border-radius: 5px;*/
/*}*/

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/



/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* This forces the background and text color globally */
    color: #f8f9fa;
    background-color: #212529; /* Standard Bootstrap Dark Grey */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Add this to ensure the background fills the whole browser window */
/* index.css */
html, body {
    background-color: #212529 !important; /* This fills the 'rubber-band' area */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Optional: prevents the 'bounce' effect entirely if you hate it */
    /*overscroll-behavior: none;*/
}

/*.btn:focus,*/
/*.btn:active,*/
/*.btn-check:focus + .btn {*/
/*    outline: none !important;*/
/*    box-shadow: none !important;*/
/*}*/